html, body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    color: #555;
}

h1 {
    text-align: center;
    color: orange;
    letter-spacing: 10px;
    text-indent: 10px;
}

h3, h4 {
    font-weight: 100;
}

.hn {
    text-align: center;
    font-size: 50px;
}

.sidebar {
    position: fixed;
    height: 100%;
    width: 250px;
    box-shadow: 0 0 10px lightgrey;
}

nav {
    width: 100%;
    z-index: 1;
}

nav a {
    text-decoration: none;
    color: grey;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 12px;
}

nav a:hover {
    color: orange;
}

nav ul {
    margin: 0 30px;
    padding: 0;
/ / float: right;
}

nav li {
    list-style-type: none;
    padding: 11px 18px;
}

.main {
    margin-left: 250px;
}

/* The content of the page/sections */

.profile {
    float:left;
    margin: 0 20px 20px 0;
    border-radius: 50%;
}

/* All the modal stuff */
.myImg {
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
    height:250px;
    max-width: 100%;
}

.myImg:hover {
    opacity: 0.7;
}

#gameImg {
    float: left;
    margin: 0 20px 20px 0;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

/* Modal stuff ends here */

.content {
    /* Padding on the bottom so the paragraphs have space between new content */
    padding-top: 20px;
    padding-bottom: 100px;
    /* max-width as oppose to width so the the content scales better on smaller screens */
    max-width: 640px;
    margin: 0 auto;
    /* The following stuff affects the paragraphs that are in content */
    font-size: 17px;
    letter-spacing: .5px;
}

.content h1 {
    color: #333f52;
    font-weight: 100;
    font-size: 22px;
    text-transform: uppercase;
    text-shadow: 2px 2px 3px #ccc;
}

/* Social Network Icons */
.socialNetwork {
    text-align: center;
    font-size: 40px;
    letter-spacing: 10px;
}

.socialNetwork a {
    color: black;
    transition: 0.3s ease-in-out;
}

#linkedIn:hover {
    color: #0077B5;
}

#github:hover {
    color: #6e5494;
}

#email:hover {
    color: #c9510c;
}

.schoolInfo {
    text-align: center;
}

.skills {
    text-align: center;
}

.courses {
    width: 70%;
    margin: 0 auto;
}

.fa-user-o, .fa-laptop {
    color: tomato;
}

.fa-arrow-right {
    color: #ffc656;
    animation: point 1.2s ease-out infinite;
}

@keyframes point {
    0% {
        transform: translateX(3px);
    }
    35% {
        transform: translateX(-3px);
    }
    60% {
        transform: translateX(3px);
    }
    80% {
        transform: translateX(-3px);
    }

    100% {
        transform: translateX(3px);
    }

}

section {
    background: white;
    /* Space on the bottom to reveal the footer */
    margin-bottom: 200px;
    position: relative;
}

hr {
    width: 100%;
    background-color: #f9ce77;
    border: 0;
    height: 1px;
}

.separator {
    background: orange;
    height: 10px;
}

.tabs {
    border: 1px solid white;
    border-radius: 14px;
    padding: 5px 10px;
    display: inline-block;
    background: orange;
    color: white
}

.navButton hr {
    display: none
}

/* Media Queries */
/* Tablets */
@media screen and (max-width: 1024px) {
    .sidebar {
        width: 200px;
    }

    .main {
        margin-left: 200px;
    }

    .content {
        padding: 20px 20px;
    }

    .courses {
        width: 100%;
    }

    .myImg {
        display:block;
        margin: auto;
        padding: 5px;
    }
}

/* Mobile Phones */
@media screen and (max-width: 640px) {

    .profile {
        float: none;
        margin: auto;

    }

    .myImg, #gameImg {
        float: none;
        display:block;
        margin: auto;
        padding: 5px;
    }


    .content {
        padding: 50px 20px;
    }

    .sidebar {
        box-shadow: none;
    / / width: 100 %;
    }

    .main {
        margin-left: 0;
    }

    .hn {
        display: none;
    }

    #about, #contact {
        text-align: center;
    }

    .courses {
        width: 100%;
        font-size: 84%;    /* changed this font size for mobile because of font scaling for courses */
    }

    nav {
        top: 0;
        position: fixed;
        background: orange;
        width: 100%;
        z-index: 1;
    }

    nav a {
        text-decoration: none;
        color: white;
        text-transform: uppercase;
        letter-spacing: 5px;
        font-size: 11px;
    }

    nav ul {
        margin: 0 30px;
        padding: 0;
        float: right;
    }

    .navButton {
        float: right;
        margin-right: 7px;
    }

    .navButton hr {;
        background-color: white;
        height: 2px;
        width: 30px;
        padding-top: 1px;
        border-radius: 50px;
        display: block;
    }

    .navButton hr.open {
        opacity: 1;
        background-color: orange;
    }

    .navButton:hover {
        cursor: pointer;
    }

    nav {
        opacity: 0.8;
    }

    nav ul.open {
        height: auto;
        margin: 0;
    }

    .menu.open {
        opacity: 1;
    }

    nav.open {
        background: white;
        opacity: 0.9;
    }

    nav a.open {
        letter-spacing: 5px;
        padding: 5px;
    }

    nav a {
        font-size: 12px;
        padding: 0;
        text-align: right;
        display: block;
        color: black;
    }

    nav ul {
        overflow: hidden;
        height: 0;
        padding: 0;
    }

    nav ul li {
        width: 100vw;
        padding: 0;
    }
}